<div id="myCarousel" class="carousel slide">
	<ol class="carousel-indicators">
		<!-- ko foreach: images -->
			<li data-target="#myCarousel" data-bind="attr: { 'data-slide-to': $index() }, css: { active: $index() == 0 }"></li>
		<!-- /ko -->
		<li data-target="#myCarousel" data-bind="attr: { 'data-slide-to': images().length + 0 }"></li>
		<li data-target="#myCarousel" data-bind="attr: { 'data-slide-to': images().length + 1 }"></li>
	</ol>
	<!-- Carousel items -->
	<div class="carousel-inner">
		<!--  ko foreach: images -->
			<div class="item" data-bind="css: { active: $index() == 0 }">
				<img data-bind="attr: { src: 'api/images/thumbnail/' + id + '/960/400' }" style="width: 960px; height: 400px;" />
	
				<div class="carousel-caption">
					<a href="#" class="btn btn-small pull-right" data-bind="viewer: { image: $data, images: [] }">
						<i class="icon-zoom-in"></i> Details
					</a>
				
					<p data-bind="text: comment"></p>
				</div>
			</div>
		<!-- /ko -->
		<div class="item" style="height: 400px; overflow: hidden;">
			<img src="http://fc02.deviantart.net/fs71/f/2012/302/b/d/cat_walk_lineart_animation_by_squalled_101-d5j95qe.gif" width="960px;" />
		</div>
		<div class="item" style="height: 400px; overflow: hidden;">
			<canvas width="960" height="400" data-bind="pong: {}"></canvas>
		</div>
	</div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div style="text-align: center; padding: 80px 200px;">
	<h1>Ready to discover?</h1>
	<br />
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis,
		nisl id hendrerit facilisis, elit lacus lobortis velit, a auctor arcu velit
		sit amet mi. Vivamus ut mi lacus.</p>
	<br />
	<p><a href="#!/browse" class="btn btn-large btn-primary">Browse the gallery</a>
	<a href="#!/upload" class="btn btn-large">Upload some images</a></p>
</div>

<div style="text-align: center;">
	
</div>

<hr />

<div class="thumbnail" style="width: 320px; margin: 0 auto;">
	<video width="320" height="240" id="video">
		<source src="cats.mp4" type="video/mp4" />
		Your browser does not support the video tag.
	</video>
	
	<div class="caption">
		<p>
			<a href="#" class="btn" data-bind="click: function () { $('video').get(0).play(); }">Play</a>
			<a href="#" class="btn" data-bind="click: function () { $('video').get(0).pause(); }">Pause</a>
			<a href="#" class="btn" data-bind="click: function () { $('video').get(0).currentTime = 0; }">Restart</a>
		</p>
	</div>
</div>

<hr />

<div style="margin: 20px;">
<div class="row-fluid">
	<div class="span6" data-bind="foreach: ['Easy', 'Interactive']">

		<div class="media">
		  <a class="pull-left" href="#">
		    <img class="media-object" src="http://placehold.it/64x64">
		  </a>
		  <div class="media-body">
		    <h4 class="media-heading" data-bind="text: $data"></h4>
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis,
		nisl id hendrerit facilisis, elit lacus lobortis velit, a auctor arcu velit
		sit amet mi. Vivamus ut mi lacus.
		    </p>
		  </div>
		</div>
  	
	</div>
	<div class="span6" data-bind="foreach: ['Great', 'Global']">
  
		<div class="media">
		  <a class="pull-left" href="#">
		    <img class="media-object" src="http://placehold.it/64x64">
		  </a>
		  <div class="media-body">
		    <h4 class="media-heading" data-bind="text: $data"></h4>
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis,
		nisl id hendrerit facilisis, elit lacus lobortis velit, a auctor arcu velit
		sit amet mi. Vivamus ut mi lacus.
		    </p>
		  </div>
		</div>

	</div>
</div>
</div>
