body {
	padding-top: 40px;
	background: url(../img/bg.png) repeat;
}

.narrow {
	max-width: 960px;
	margin: 0 auto;
}

.thumbMini {
	position: relative;
	width: 240px;
	height: 240px;
	float: left;
	overflow: hidden;
}

.thumbMini > img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
}

.thumbMini > a {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #dcdcdc;
	z-index: 10;
}

.thumbMini > a * {
	visibility: hidden;
}

.thumbMini > a:hover {
	
}

.thumbMini > a:hover * {
	visibility: visible;
}

.thumbMini > a > span {
	background-color: rgba(0, 0, 0, 0.85);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	padding: 20px;
}

body > header {
	height: 150px;
	background: url(../img/logo.png) no-repeat bottom center;
}

.upload-section {
	border-bottom: 1px solid #dcdcdc;
	height: 200px;
	background: url(../img/uploadPicture.png) no-repeat center;
}

.slot-machine {
	text-align: center;
	background: black;
}

.btn > input[type='file'] {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}



.jumbotron {
	text-align: center;
}

.header-wrapper {
	background-color: black;
}

.content-wrapper {
	background-color: blue;
}

.gg-container {
	width: 960px;
	margin: 0 auto 100px auto;
}

.gg-header {
	
}

.gg-page {
	background: white;
	border: 1px solid #dcdcdc;
}

.gg-banner {
	background: #dedede;
	height: 301px;
	width: 960px;
}

.gg-page .gg-introduction {
	background: #f2f2f2;
	border-bottom: 1px solid #dcdcdc;
	padding: 40px 0;
}

.gg-footer-outer {
	border-top: 5px solid green;
}

.image-container {
	width: 960px;
	position: relative;
	left: -1px;
	top: -1px;
}

.image-tile {
	width: 480px;
	height: 480px;
	background: red;
	float: left;
}